<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(task.errors.count, "件") %>エラーが発生しました</p>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :deadline_on %>
    <%= form.date_field :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys, { include_blank: true } %>
  </div>

  <div>
    <%= form.submit id: "create-task" %>
  </div>
<% end %>
