<h1><%= t('index.Show Task Page') %></h1>

<p>
  <strong><%= t('index.Title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('index.Content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('index.Created_at') %>:</strong>
  <%= @task. created_at.to_s(:datetime_jp) %>
</p>

<p>
  <strong><%= t('index.Deadline_on') %>:</strong>
  <%= @task.deadline_on %>
</p>

<p>
  <strong><%= t('index.Priority') %>:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong><%= t('index.Status') %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('index.label') %>:</strong>
  <% @task.labels.eager_load(:tasks).each do |label| %>
    <%= label.name %>
  <% end %>
</p>

<%= link_to t('common.Edit'), edit_task_path(@task), id: "edit-task" %> |
<%= link_to t('common.Back'), tasks_path, id: "back" %>
