<p id="notice"><%= notice %></p>
<h1>タスク詳細ページ</h1>

<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>作成日時:</strong>
  <%= @task.created_at %>
</p>

<%= link_to '編集', edit_task_path(@task), id: "edit-task" %> |
<%= link_to '戻る', tasks_path, id: "back" %>
