<h1>ユーザ詳細ページ</h1>
<p>名前: <%= @admin.name %></p>
<p>メールアドレス: <%= @admin.email %></p>
<p>管理者権限: <%= @admin.admin ? 'あり' : 'なし'%></p>

<%= render 'user_index' %>

<div>
  <%= link_to t('common.Back'), admin_users_path, id: "back" %>
</div>