<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "タスク一覧", tasks_path, id: "tasks-index" %></li>
      <li><%= link_to "タスクを登録する", new_task_path, id: "new-task"%></li>
    </ul>
    <%= yield %>
  </body>
</html>
